.venv/
venv/
.env/
env/
*.env
.env

*.sqlite3

__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/

db.sqlite3
*/migrations/*.pyc
*/migrations/*.py

.idea/
.vscode/

*.log
logs/


staticfiles/
media/

